html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1{
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

body {
  background: #F2F3EB;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 1em;
    border: solid 4px #474544;
    border-radius: 1em;
  }

  label{
    display: inline-block;
    width: 150px;
    text-align:left;
    font-size: 1.000em;
    letter-spacing: 1px;
    color: #474544;
  }

 input {
    font: 1em sans-serif;
    width: 330px;
    border: 1px solid #CCC;
    color: #474544;
    text-transform: uppercase;
  }

.btn-submit{
    color: #5A5A5A;
    font: inherit;
    border: solid 2px #474544;
    width: 200px;
    margin: 0 auto;
}